# .NET
bin/
obj/

# Visual Studio / VSCode
.vscode/
.idea/

# Docker
**/docker-data/
docker/*.log

# Sistema
*.DS_Store
*.user
*.opendb
*.sqlite

# Logs
*.log

# Secrets locais (não commitar)
notificacao/Notificacao.Api/appsettings.Local.json
